@import url('https://fonts.googleapis.com/css2?family=DM+Mono&family=DM+Sans:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  --dark-blue: #010B14;
  --light-blue: rgb(130, 170, 255);
  --green: rgb(128, 203, 196);
  --orange: rgb(247, 140, 108);
  --purple: rgb(199, 146, 234);
  --off-white: #f1f2ec;

  --background-primary: var(--dark-blue);
}

body {
    padding: .75em;
    margin: 0;
    background-color: var(--background-primary);
    color: var(--off-white);
    font-family: 'DM Sans', sans-serif;
}

#app {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}

#content {
    display: flex;
}

tybalt-main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

tybalt-header {
    margin-bottom: .5em;
    border-bottom: 1px solid black;
}

code {
    font-family: 'DM Mono', monospace;
}