body {
  padding: .75em;
  margin: 0;
}
  
#app {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

#content {
  display: flex;
}

tybalt-main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

tybalt-header {
  margin-bottom: .5em;
  border-bottom: 1px solid black;
}