.button {
    padding: 16px;
    border: 1px solid black;
    border-radius: 4px;
    font-family: var(--font-family);
}

.button-primary {
    background-color: var(--primary-color);
    color: var(--inverse-font-color);
}

.button-secondary {
    background-color: var(--secondary-color);
    color: var(--font-color);
}

.button-tertiary {
    background: none;
    border: none;
    padding: 0;
    text-decoration: underline;
    cursor: pointer;
}
